.footerSection {
  background: #082828;
  padding: 4rem 0 3rem 0;
}

.footerSectionTop {
  padding-bottom: 3rem;
}

.footerSectionTitle {
  color: #D0D5DD;
  font-size: 0.875rem;
  font-weight: 600;
  line-height: 1.25rem;
  margin-bottom: 1rem;
}

.footerSectionLink {
  color: #EAECF0;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.5rem;
}

.footerSectionBottom {
  border-top: 1px solid #475467;
  padding-top: 2rem;
  justify-content: space-between;
  align-items: center;
}

.footerSectionBottomInfo {
  color: #D0D5DD;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;

  a {
    color: #D0D5DD;
  }
}
