.contactTitle{
  font-family: Inter;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -2%;
  color: #101828;
}

.contactText{
  font-family: Inter;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  color: #475467;
}