.radioRoot {
	input {
		width: 1.25rem;
		height: 1.25rem;
		background-color: transparent;
		border: 2px solid rgba(176, 186, 191, 0.5);
		&:active {
			border: 2px solid #002774;
		}
		&:checked:not(:disabled) {
			border-color: #002774;
		}
	}
}

.radioIcon {
	circle {
		fill: #002774;
	}
}

.radioLabel {
	color: #020a15;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: normal;
}
