
.layout {
  display: grid;
  grid-template-columns: 350px 1fr;
  gap: 2rem;
  align-items: flex-start;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}

.sidebar {
  padding: 8px 24px 8px 4px;
  border-radius: 12px;
  position: sticky;
  top: 2rem;
  height: fit-content;
}

.sidebarTitle {
  font-family: Text xs/Display md/Semibold;
  font-weight: 600;
  font-size: 32px;
  line-height: 100%;
  color: #000;
}

// .sidebarMenu {
//   // margin-bottom: 2rem;
// }

.menuItem {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.2s ease;

  svg {
    width: 20px;
    height: 20px;
    color: #111126;
  }

  .label {
    color: #111126;
  }

  &:hover {
    background-color: none;
  }
}

.active {
  color:#044949;

  svg {
    color: #044949 !important;
  }

  .label {
    color: #044949 !important;
  }
}

.label{
  // font-family: Roboto Flex;
  // font-weight: 400;
  // font-size: 16px;
  // line-height: 22px;
  // letter-spacing: 0%;
  color: #111126;
}

.divider {
  margin: 1rem 0;
  border-color: #e2e8f0;
}

.logoutItem {
  svg {
    color: #e53e3e !important;
  }
  
  span {
    color: #e53e3e !important;
  }
}

.mainContent {
  border-radius: 12px;
  background: none !important;
}


