.ourServices {
  padding: 3rem 0;
}

.ourServicesTitle {
  color: #020A15;
  font-size: 1.875rem;
  font-weight: 600;
  line-height: 2.375rem;
}

.ourServicesSwiper {
  margin-top: 2rem;
}

.ourServicesBox {
  border-radius: 0.5rem;
  background: #F9FAFB;
  padding: 1rem;
  min-height: 11.25rem;
  position: relative;
  overflow: hidden;
}

.ourServicesBoxTitle {
  color: #020A15;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.75rem;
  margin-bottom: 0.38rem;
}

.ourServicesBoxDescription {
  color: #5A6472;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.25rem;
}

.ourServicesBoxBottom {
  position: absolute;
  right: -9%;
  bottom: -27px;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 18.75rem;
  background: rgba(4, 73, 73, 0.16);
  display: flex;
  justify-content: center;
  align-items: center;
}
