.ourServices {
  padding: 3rem 0;
}

.ourServicesTitle {
  color: #020a15;
  font-size: clamp(1.25rem, 1.071rem + 0.89vw, 1.875rem);
  font-weight: 600;
  line-height: 2.375rem;
}

.ourServicesButton{
  @media screen and (max-width: 845px) {
    display: none;
  }
}

.ourServicesSwiper {
  margin-top: 2rem;
  @media screen and (max-width: 845px) {
    display: none;
  }
}

.ourServicesSwiperMobile{
  margin-top: 2rem;
  display: none;
  @media screen and (max-width: 845px) {
    display: block;
  }
}

.ourServicesBox {
  border-radius: 0.5rem;
  background: #f9fafb;
  padding: 1rem;
  min-height: 11.25rem;
  position: relative;
  overflow: hidden;
}

.ourServicesBoxTitle {
  color: #020a15;
  font-size:clamp(1rem, 0.964rem + 0.18vw, 1.125rem);
  font-weight: 600;
  line-height: 1.75rem;
  margin-bottom: 0.38rem;
  @media screen and (max-width: 845px){
    line-height: 1.5rem;
  }
}

.ourServicesBoxDescription {
  color: #5a6472;
  font-size: clamp(0.75rem, 0.714rem + 0.18vw, 0.875rem);
  font-weight: 400;
  line-height: 1.25rem;
  @media screen and (max-width: 845px){
    line-height: 1.125rem;
  }
}

.ourServicesBoxBottom {
  position: absolute;
  right: -9%;
  bottom: -27px;
  width: 7.5rem;
  height: 7.5rem;
  border-radius: 18.75rem;
  background: rgba(4, 73, 73, 0.16);
  display: flex;
  justify-content: center;
  align-items: center;
}
