.button {
	color: #fff;
	text-align: center;
	font-size: 1rem;
	font-weight: 500;
	line-height: normal;
	border-radius: 8px;
	background-color:  #044949;
	transition:
		background 0.3s ease-in,
		transform 0.3s ease-in;

	&:hover {
		//background: linear-gradient(87deg, #59a5ec 0%, #59a5ec 48%, #7974ea 100%);
		//transform: scale(1.05);
		background-color: #044949;
	}

	&:disabled {
		opacity: 0.3;
		background: #d0d5dd;
	}
}
