.button {
	background-color: transparent;
	border-radius: 0.75rem;
	border: 1px solid #002774;
	color: #002774;
	font-size: 1rem;
	font-weight: 500;
	line-height: 1.5rem;

	&:hover {
		background-color: transparent;
		color: #002774;
	}

	&:disabled {
		color: #d0d5dd;
		border-color: #e4e7ec;
	}
}
