@import "font-inter/stylesheet.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif !important;
}

body {
  font-family: "Inter", sans-serif !important;
  background-color: #fff;
  color: #fff;
}
