@import "font-inter/stylesheet.css";
@import "outfit/style.css";
@import "roboto-flex/style.css";
// Import Swiper styles
@import "swiper/css";
@import "leaflet/dist/leaflet.css";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Inter", sans-serif !important;
}

body {
  font-family: "Inter", sans-serif !important;
  background-color: #fff;
  color: #fff;
}

a {
  text-decoration: none;
}

p, a, li, h1, h2, h3, h4, h5, h6 {
  color: #002774;
  font-family: "Outfit Regular", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: normal;
}

.swiper-pagination {
  margin-bottom: 1.25rem;
  @media screen and (max-width: 576px) {
    margin-bottom: 0;
  }
}

.swiper-pagination-bullet {
  background: transparent !important;
}

.swiper-pagination-bullet-active .path {
  display: inline-block !important;
  stroke-dasharray: 1000;
  stroke-dashoffset: 0;
  animation: dash linear 120s;
  animation-iteration-count: unset;
}

.path {
  display: none;
}

@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }

  to {
    stroke-dashoffset: 0;
  }
}

.title {
  font-size: clamp(1.25rem, 0.964rem + 1.43vw, 2.25rem);
  font-style: normal;
  font-weight: 600;
  line-height: 2.75rem;
  letter-spacing: -0.045rem;
}

button {
  &:focus-visible {
    outline: none !important;
  }
}
