.pageHeaderBack {
  color: #002774;
  font-size: 1rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.02rem;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
  display: none;
  margin-bottom: 1rem;
  @media screen and (max-width: 992px) {
    display: flex;
  }
}

.pageHeaderTitle {
  display: none;
  color: #101828;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.03rem;
  @media screen and (max-width: 992px) {
    display: block;
  }
}

.accordionRoot {
  border-radius: 1rem;
  background: #ebf1f1;
  border: none;
  box-shadow: 0 4px 120px 0 rgba(43, 47, 57, 0.06);
  @media screen and (max-width: 992px) {
    background: #fff;
    box-shadow: none;
  }
}

.accordionItem {
  border: none;

  button {
    padding: 0.75rem 1.5rem 1rem 1.5rem;

    &:hover {
      background: transparent;
    }
  }

  &[data-active="true"] {
    background: transparent;
  }

  &:not(:last-child) {
    border-bottom: 1px solid #eaebeb;
  }
}

.accordionPanel {
  background: transparent;
}

.accordionContent {
  padding: 0 1.5rem 1.5rem 1.5rem;
}

.accordionControlTitle {
  color: #020a15;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: normal;
}

.accordionItemFilterWrapper {
  margin-top: 1rem;
  border-top: 1px solid #eaebeb;
  padding: 0.75rem 0 0 0;

  .filterButton {
    width: 100%;
    color: #002774;
    font-size: 1rem;
    font-weight: 600;
    line-height: normal;
    height: 3.5rem;
  }
}
